<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ECConnectionString" connectionString="Data Source=203.64.129.67;Initial Catalog=EC;User ID=EC08;Password=cbf104029."
      providerName="System.Data.SqlClient" />
    <add name="ECConnectionString2" connectionString="Data Source=203.64.129.67;Initial Catalog=EC;User ID=EC08;Password=cbf104029."
      providerName="System.Data.SqlClient" />
    <add name="ECConnectionString3" connectionString="Data Source=203.64.129.67;Initial Catalog=EC;User ID=EC08;Password=cbf104029."
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
  </appSettings>
</configuration>